body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #2c3e50, #2980b9);
    color: #fff;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #34495e;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

h1 {
    color: gold;
    font-size: 2.5em;
}
.lifelines-card {
    background-color: red; /* Red background */
    font-size: 1.5em;
    margin: 20px 0;
    padding: 20px;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.prize-card {
    background-color: #27ae60; /* Green background for the prize card */
    color: white;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-size: 1.5em; /* Larger font for emphasis */
    display: none; /* Initially hidden */
}

.question {
    font-size: 1.5em;
    margin: 20px 0;
    padding: 20px;
    border: none;
    border-radius: 8px;
    background-color: #2c3e50;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.options {
    display: flex;
    flex-direction: column; /* Stack buttons vertically */
    width: 100%; /* Ensure it fills the width of the container */
}

.option {
    flex: 1; /* Allow options to expand equally */
    margin: 10px 0;
    padding: 15px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 1.2em;
    text-align: left; /* Align text to the left */
}

.option:hover {
    background-color: #3498db;
    transform: translateY(-2px);
}

.option.correct {
    background-color: green !important;
}

.option.incorrect {
    background-color: red !important;
}

.button-container {
    display: flex;
    justify-content: center; /* Center buttons horizontally */
    margin-top: 20px; /* Space above the button container */
}
#next-btn {
    display: none;
    padding: 15px 30px;
    background-color: gold;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-right: 20px;
}

#new-game-btn {
    display: none;
    padding: 15px 30px;
    background-color: gold;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-left: 20px;

}
.footer {
    background-color: #fdd835; /* Yellow background */
    color: #333;
    padding: 0px;
    border-radius: 0 0 15px 15px; /* Rounded corners at the bottom */
    margin-top: 0px; /* Space above the footer */
}

#next-btn:hover {
    background-color: #f1c40f;
}
